# 실행하려는 컨테이너들의 묶음을 정의합니다.
services:
  
  # 첫 번째 서비스(컨테이너)의 이름을 정의합니다. (여기서는 'app'으로 지정)
  app:
    # 이 서비스의 Docker 이미지를 어떻게 만들지 정의합니다.
    build:
      # Dockerfile이 있는 위치를 지정합니다. '.'은 현재 디렉터리를 의미합니다.
      context: .
      # 사용할 Dockerfile의 이름을 명시합니다. (기본값이 Dockerfile이라 생략 가능)
      dockerfile: Dockerfile
    
    # 컨테이너의 이름을 지정합니다.
    container_name: api-container
    
    networks:
      - shopping-network

    # 포트 매핑을 설정합니다. (호스트 포트:컨테이너 포트)
    ports:
      - "8080:8080"
      
    # 환경 변수를 설정합니다. (나중에 DB 연결 정보 등을 여기에 추가합니다)
    environment:
      - TZ=Asia/Seoul
      # [추가] 애플리케이션이 파일 저장 위치를 알 수 있도록 환경 변수를 추가합니다.
      - FILE_UPLOAD_DIR=/app/uploads
      
    # [핵심 추가] 볼륨 설정을 추가합니다.
    volumes:
      # 호스트의 ./uploads 폴더를 컨테이너의 /app/uploads 폴더와 연결(매핑)합니다.
      # 이 설정을 통해 컨테이너에 업로드된 파일이 호스트 컴퓨터에 영구적으로 저장됩니다.
      - ./uploads:/app/uploads
	  - ./logs:/logs
        
networks:
  shopping-network:
    external: true
